<div [ngStyle]="{'text-align': 'center', 'position': 'absolute', 'width': '100%'}">
    <mat-list>
        <mat-list-item>
            <a mat-button color="warn" routerLink="/funcionario/listagem">
                Ver Lançamentos  
            </a>
        </mat-list-item>
        <mat-list-item>
            <strong *ngIf="geoLocation">Localização</strong>&nbsp;{{ geoLocation }}&nbsp;
            <a target="_blank" *ngIf="geoLocation" [href]="obterUrlMapa()">
                Abrir Mapa
            </a>
            <strong *ngIf="!geoLocation">Seu Navegador não está permitindo a verificação da sua localização.</strong>
        </mat-list-item>
        <mat-list-item *ngIf="exibirInicioTrabalho()">
            <button mat-raised-button color="primary" (click)="iniciarTrabalho()">
                Iniciar Trabalho
            </button>
        </mat-list-item>

        <mat-list-item *ngIf="exibirInicioAlmoco()">
            <button mat-raised-button color="primary" (click)="iniciarAlmoco()">
                Iniciar Almoço
            </button>
        </mat-list-item>

        <mat-list-item *ngIf="exibirTerminoAlmoco()">
            <button mat-raised-button color="primary" (click)="terminarAlmoco()">
                Terminar Almoço
            </button>
        </mat-list-item>

        <mat-list-item *ngIf="exibirTerminoTrabalho()">
            <button mat-raised-button color="primary" (click)="terminarTrabalho()">
                Terminar Trabalho
            </button>
        </mat-list-item>
    </mat-list>
</div>